{% extends 'core/base.html' %}
{% block content %}
<div class="card mx-auto" style="max-width: 700px;">
  <img src="{{ animal.foto.url }}" class="card-img-top" alt="{{ animal.nome }}">
  <div class="card-body">
  <h3>{{ animal.nome }}</h3>
  <p><strong>Espécie:</strong> {{ animal.especie }}</p>
  <p><strong>Idade:</strong> {{ animal.idade }} anos</p>
  <p><strong>Descrição:</strong> {{ animal.descricao }}</p>

  <!-- Campo de contato -->

  {% if user.is_authenticated %}
    <a href="{% url 'solicitar_adocao' animal.id %}" class="btn btn-green w-100 mt-3">Solicitar Adoção 🐾</a>
  {% else %}
    <a href="/login/" class="btn btn-secondary w-100 mt-3">Faça login para adotar</a>
  {% endif %}
</div>

</div>
{% endblock %}
